/* Pet Adoption Website */


:root {
    --yellowbg: url(assets/yellow-bg.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    user-select: none;
    /* transition: .5s; */
}

html {
    background: url(assets/blue-bg.png);
    scroll-behavior: smooth;
}

/* Nav section: Header */
nav {
    margin: 20px;
    /* top: 10px; */
    left: 0;
    right: 0;
    height: 8vh;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--yellowbg);
    /* background: url(assets/yellow-bg.png);     */
    position: fixed;
}

nav #home-logo {
    /* height: auto; */
    /* width: 12rem; */
    /* margin: -10rem -10rem -10rem 0; */
    width: 3.4rem;
}

nav ul {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    color: #274c92;
    list-style-type: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: .5s;
    font-weight: bolder;
    font-size: 18px;
}

nav li a {
    color: #274c92;
}

nav li:hover {
    background-color: #ffffff70;
    transform: scale(1.05);
}

.nav-options {
    display: flex;
    flex-direction: column;
}

.nav-li-options {
    position: absolute;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    /* min-height: 90vh; */
    padding: 1rem;
}

/* home */
#home {
    padding-top: 5rem;
}

#home-quote1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#home .info {
    display: flex;
    flex-direction: column;
}

#home #home-logo {
    max-width: 30rem;
    margin: -12rem -1rem;
}

#home-quote1 p {
    font-size: 28px;
}

#home-quote1 img {
    width: 40rem;
    margin: -4rem;
}

#home #button-home {
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    margin: .5rem 0;
    border-radius: 2rem;
    font-weight: bolder;
    color: #274c92;
    background: url(assets/yellow-bg.png);
    transition: .5s;
}

#home #button-home:hover {
    background-color: #ffffff70;
    transform: scale(1.05);
}








/* footer */
footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}


.home-footer-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-footer-container .footer-info {
    line-height: 1.2rem;
    padding: 1rem;
    /* width: 200px; */
    /* text-wrap: wrap; */
}

.home-footer-container #footer-info1 {
    padding: 1rem;
    width: 400px;
    text-wrap: wrap;
}

.home-footer-container .social-icons {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.footer-info-heading2{
    /* font-size: 20px; */
    font-weight: bold;
}



