/* Pet Adoption Website */


:root {
    --yellowbg: url(assets/yellow-bg.png);
    --bluebg: url(assets/blue-bg.png);
    --blue-color: #274c92;
    --yellow-color: #;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style-type: none;
    text-decoration: none;
    /* -webkit-user-select: none; */
    /* transition: .5s; */
    font-family: "Nunito", sans-serif;
    font-weight: 100px;
}

html {
    /* background: url(assets/blue-bg.png) repeat; */
    scroll-behavior: smooth;
    top: 0%;
    background: var(--blue-color);
    z-index: 1;
}

/* Nav section: Header */
nav {
    margin: 20px;
    /* top: 10px; */
    left: 0;
    right: 0;
    height: 55px;
    width: auto;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--yellowbg);
    background-size: cover;
    position: fixed;
    z-index: 9;
    /* position: relative; */
}

nav #home-logo {
    width: 56px;
    top: 0%;
    bottom: 0%;
    /* height: 3.4rem; */
    position: absolute;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    /* background-color: #fff; */
    right: 2.5%;
    position: absolute;
}

nav li {
    color: var(--blue-color);
    list-style-type: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: .5s;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: var(--blue-color);
}

nav li:hover {
    background-color: #ffffff70;
    transform: scale(1.05);
}

/* .nav-options {
    display: flex;
    flex-direction: column;

} */

/* .nav-li-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* nav ends her */

/* main body starts from here */
section {
    min-height: 90vh;
    padding: 1rem;
}

/* home */
#home {
    padding-top: 5rem;
    z-index: 8;
}

#home-quote1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#home .info {
    display: flex;
    flex-direction: column;
}

#home #home-logo {
    max-width: 30rem;
    margin: -12rem -1rem;
}

#home-quote1 p {
    font-size: 28px;
}

#home-quote1 img {
    width: 40rem;
    margin: -4rem;
}

#home #button-home {
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    margin: .5rem 0;
    border-radius: 2rem;
    font-weight: bolder;
    color: #274c92;
    background: url(assets/yellow-bg.png);
    transition: .5s;
}


#home #button-home:hover {
    background-color: #ffffff70;
    transform: scale(1.05);
}


/*  */
#home-features{
    text-align: center;
}

#home-features h2{
    font-size: 42px;
}

#home-features img{
    height: 250px;
    /* padding: 1rem; */
    margin: 2rem;
}

.tri-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tri-container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tri-container-items p{
    text-justify: auto;
    text-align: center;
    max-width: 200px;
}














/* footer */
footer {
    padding: rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.home-footer-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
}

.home-footer-container .footer-info {
    line-height: 1.2rem;
    padding: 1rem;
    /* width: 200px; */
    /* text-wrap: wrap; */
}

.home-footer-container #footer-info1 {
    padding: 1rem;
    /* width: 400px; */
    text-wrap: wrap;
}

.home-footer-container .social-icons {
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-info-heading2{
    /* font-size: 20px; */
    font-weight: bold;
}



