.navbar {
    background-color: #274c92;
    color: white;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 8px 10px -7px #274c92;
    --webkit-box-shadow: 0px 8px 6px -6px #274c92;
}

.navbar-brand {
    color: white !important;
    margin: auto 20px;
    font-weight: 700;
    font-family: 'roboto', sans-serif;
    display: flex;
    gap: 5px;
    letter-spacing: 2px;
}

.nav-link {
    margin: auto 10px;
    font-weight: 400;
}

.active {
    border-bottom: 2px solid white;
    font-weight: 700;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}