/* ==================== REGISTER & LOGIN PAGE ======================= */
.form-page{
    min-height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #88a3d4 0%, #e4ecff 100%);
  }
  
  .form-container {
    padding: 30px;
    min-height: 30vh;
    min-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #274c92;
    /* border: 2px solid #274c92; */
    box-shadow: 0px 0px 15px 3px #274c92 ;
  }
  
  input[type] {
    border: 2px solid #274c92;
    min-width: 20vw;
  }
  
  .form-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-page button {
    color: #f0f4f8;
    background-color: #274c92;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #274c92;
  }
  
  .form-page button:hover {
    background-color: #f0f4f8;
    color: #274c92;
    font-weight: 700;
    border: 2px solid #274c92;
    transform: scale(1.05);
    transition: .5s ease-out;
  }